.container {
    width: 100%;
    height: 80px;
    position: relative;
    background: red;
    overflow-y: hidden;
}

.navbar {
    min-width: 700px;
    width: 100%;
}


.nav--list {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.active {
  position: absolute;
  z-index: 1;
  width: 0%;
  height: 0%;
  background: #000;
  border-radius: 5px;
  transition: left 300ms ease, width 200ms 200ms ease;
}

.item {
  padding: 10px;
  margin: 10px;
  z-index: 20;
}

.item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 4px 3px 3px #1b365d;
}
