.main {
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "pending pending"
    "approved rejected";
  min-height: 100vh;
  gap: 2rem;
  padding: 2rem;
}

.header {
  grid-area: header;
  text-align: center;
}

.filterContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterContainer label {
  font-weight: bold;
}

.filterContainer select {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.pending {
  grid-area: pending;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px; /* keeps the space stable */
}

.pendingTitle {
    margin-bottom: 1rem;
}

.pendingCard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 100%;
}

.approved {
  grid-area: approved;
  text-align: left;
}

.rejected {
  grid-area: rejected;
  text-align: right;
}

.placeholder {
  opacity: 0.5;
}
